<section class="scroll-section skills" id="skills" data-section-name="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
            </div>
        </div>
    </div>

    <div class="skills-container">
        <div class="skills-container__item">
            <div class="skills-container__item--header">
                Prototyping
            </div>
            <div class="row grid">
                <div class="grid__item big">
                    item 1
                </div>
                <div class="grid__item">
                    item 2
                </div>
                <div class="grid__item">
                        item 3
                </div>
                <div class="grid__item">
                        item 4
                </div>
                <div class="grid__item">
                        item 5
                </div>
                <div class="grid__item">
                        item 6
                </div>
                <div class="grid__item">
                        item 7
                </div>
            </div>
        </div>

        <div class="skills-container__item">
            <div class="skills-container__item--header">
                Development
            </div>
            <div class="row grid">
                    <div class="grid__item">
                        item 1
                    </div>
                    <div class="grid__item">
                        item 2
                    </div>
                </div>
        </div>
        
    </div>

</section>